<div class="coming-soon-container">
  <img src="assets/images/backgroung.png" class="bg-image" />
  <div class="overlay">
    <h1 class="brand">Premium Dry Fruits</h1>
     <h1 class="brand">Nutrition You Need</h1>
    <p class="tagline">Fresh. Organic. Delivered to Your Doorstep.</p>

    <h2>We're Launching Soon 🚀</h2>

    <div class="countdown">
      <div class="time-box">
        <span>{{ countdown.days }}</span>
        <p>Days</p>
      </div>
      <div class="time-box">
        <span>{{ countdown.hours }}</span>
        <p>Hours</p>
      </div>
      <div class="time-box">
        <span>{{ countdown.minutes }}</span>
        <p>Minutes</p>
      </div>
      <div class="time-box">
        <span>{{ countdown.seconds }}</span>
        <p>Seconds</p>
      </div>
    </div>

    <div class="notify">
      <input type="email" placeholder="Enter your email" />
      <button>Notify Me</button>
    </div>
  </div>
</div>
